.container {
    height: 100vh;
    background-color: rgba(32, 33, 36, 255);
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
}

.box {
    width: 17vw;
    height: 30vh;
    background-color: rgba(60, 64, 67, 255);
    border-radius: 10px;
}

.box1 {
    width: 22vw;
    height: 30vh;
    background-color: rgba(60, 64, 67, 255);
    border-radius: 10px;
}

.initial {
    width: 80px;
    height: 80px;
    background: #78909c;
    border-radius: 50%;
    margin: 65px 90px;
}

.initial1 {
    width: 80px;
    height: 80px;
    background: #00897b;
    border-radius: 50%;
    margin: 65px 130px;
}